In [1]:
import pandas as pd
from pathlib import Path

file_path = Path(r'Z:\Chad Projects\Alerts\Production\assets\xactus\xactus_output.csv')
loaded_xactus = pd.read_csv(file_path)

In [2]:
loaded_xactus

,Reference_Field,SH01-Hit Indicator,SH04-Match Indicator,First_Name,Middle_Name,Last_Name,Prefix,Suffix,Maternal_Name,House_Number,...,Score_2_Sign,Score_2,Score_2_Indicator_Flag,Score_2_Derogatory_Alert,Score_2_1st_Reason_Code,Score_2_2nd_Reason_Code,Score_2_3rd_Reason_Code,Score_2_4th_Reason_Code,Score_2_Scorecard_Indicator,
0,NaN,Y,NaN,BRIAN,R,JACKSON,NaN,NaN,NaN,477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,NaN,Y,NaN,ROBIN,N,DESLAURIERS,NaN,NaN,NaN,7848,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,NaN,Y,NaN,MICHAEL,NaN,MERCHANT,NaN,NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,NaN,Y,NaN,CRYSTAL,M,CALOURO,NaN,NaN,NaN,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,NaN,Y,NaN,JASON,G,ANDERSON,NaN,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,NaN,Y,NaN,JOHN,P,DOOLEY,NaN,JR,NaN,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
268,NaN,Y,NaN,BRIAN,R,THIBODEAU,NaN,NaN,NaN,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
269,NaN,Y,NaN,RACHAEL,E,RUDLOFF,NaN,NaN,NaN,124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
270,NaN,Y,NaN,DANA,L,TITUS,NaN,NaN,NaN,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
271,NaN,Y,NaN,DONALD,A,PROVENCHER,NaN,NaN,NaN,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [3]:
pfs_permissions = pd.read_csv(Path(r'Z:\Chad Projects\Alerts\Production\Xactus\Permission_db\pfs_permission.csv'))

In [ ]:
pfs_permissions

In [4]:
loaded_xactus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Reference_Field              0 non-null      float64
 1   SH01-Hit Indicator           272 non-null    object
 2   SH04-Match Indicator         0 non-null      float64
 3   First_Name                   272 non-null    object
 4   Middle_Name                  244 non-null    object
 5   Last_Name                    272 non-null    object
 6   Prefix                       0 non-null      float64
 7   Suffix                       27 non-null     object
 8   Maternal_Name                0 non-null      float64
 9   House_Number                 272 non-null    int64
 10  Predirection                 17 non-null     object
 11  Street_Name                  272 non-null    object
 12  Postdirection                0 non-null      float64
 13  Street_Type                  253 non-null    object
 14  Apartment_Number             18 non-null     object
 15  City                         272 non-null    object
 16  State                        272 non-null    object
 17  Zip_Code                     272 non-null    int64
 18  Address_Date_Reported        272 non-null    int64
 19  SSN                          272 non-null    int64
 20  Date_of_Birth                271 non-null    float64
 21  Phone_Area_Code              0 non-null      float64
 22  Phone_Number                 0 non-null      float64
 23  Phone_Extension              0 non-null      float64
 24  Deceased_Flag                0 non-null      float64
 25  Frozen_Flag_Indicator        30 non-null     object
 26  Fact Act-Address_Type        13 non-null     object
 27  Fact Act-Address_Condition   13 non-null     float64
 28  Consumer_Statement_Flag_1    272 non-null    object
 29  Consumer_Statement_Flag_2    272 non-null    object
 30  Product_Code_1               271 non-null    object
 31  Score_1_Sign                 271 non-null    object
 32  Score_1                      270 non-null    float64
 33  Score_1_Indicator_Flag       1 non-null      float64
 34  Score_1_Derogatory_Alert     147 non-null    object
 35  Score_1_1st_Reason_Code      270 non-null    float64
 36  Score_1_2nd_Reason_Code      268 non-null    float64
 37  Score_1_3rd_Reason_Code      255 non-null    float64
 38  Score_1_4th_Reason_Code      216 non-null    float64
 39  Score_1_Scorecard_Indicator  0 non-null      float64
 40  Product_Code_2               0 non-null      float64
 41  Score_2_Sign                 0 non-null      float64
 42  Score_2                      0 non-null      float64
 43  Score_2_Indicator_Flag       0 non-null      float64
 44  Score_2_Derogatory_Alert     0 non-null      float64
 45  Score_2_1st_Reason_Code      0 non-null      float64
 46  Score_2_2nd_Reason_Code      0 non-null      float64
 47  Score_2_3rd_Reason_Code      0 non-null      float64
 48  Score_2_4th_Reason_Code      0 non-null      float64
 49  Score_2_Scorecard_Indicator  0 non-null      float64
 50                               272 non-null    object
dtypes: float64(28), int64(4), object(19)
memory usage: 108.5+ KB

In [7]:
score_df = loaded_xactus[['First_Name','Last_Name','SSN','Score_1']].copy()

In [8]:
pfs_permissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   persnbr     276 non-null    float64
 1   firstname   276 non-null    object
 2   lastname    276 non-null    object
 3   Permission  276 non-null    object
dtypes: float64(1), object(3)
memory usage: 8.8+ KB

In [ ]:
score_df['concatname'] = score_df['First_Name'] + score_df['Last_Name']
pfs_permissions['concatname'] = pfs_permissions['firstname'] + pfs_permissions['lastname']

In [11]:
merged_df = pd.merge(pfs_permissions, score_df,on='concatname', how='outer', indicator=True)

In [12]:
merged_df

,persnbr,firstname,lastname,Permission,concatname,First_Name,Last_Name,SSN,Score_1,_merge
0,1031235.0,ALAN,GREENLEAF,Y,ALANGREENLEAF,ALAN,GREENLEAF,36300757.0,801.0,both
1,1049115.0,ALLAN,SMITH,Y,ALLANSMITH,ALLAN,SMITH,42701619.0,793.0,both
2,1063515.0,ALLEN,BEAUPRE,Y,ALLENBEAUPRE,ALLEN,BEAUPRE,29582896.0,721.0,both
3,1124585.0,ALLYSON,FARRAR,Y,ALLYSONFARRAR,ALLYSON,FARRAR,39589221.0,733.0,both
4,1056560.0,AMBER,COHEN,Y,AMBERCOHEN,AMBER,COHEN,10606680.0,770.0,both
...,...,...,...,...,...,...,...,...,...,...
282,1028650.0,WILLIAM,LAMBORGHINI,Y,WILLIAMLAMBORGHINI,WILLIAM,LAMBORGHINI,22445978.0,820.0,both
283,1028738.0,WILLIAM,WARD,Y,WILLIAMWARD,WILLIAM,WARD,19500926.0,767.0,both
284,1030571.0,WILLIAM,WOMACK,Y,WILLIAMWOMACK,WILLIAM,WOMACK,421580459.0,799.0,both
285,1029153.0,YVONNE,HINES-BRUCE,Y,YVONNEHINES-BRUCE,NaN,NaN,NaN,NaN,left_only
286,NaN,NaN,NaN,NaN,YVONNEHINESBRUCE,YVONNE,HINESBRUCE,91402138.0,788.0,right_only

In [14]:
fails = merged_df[merged_df['_merge'] != 'both'].copy()

In [15]:
fails

,persnbr,firstname,lastname,Permission,concatname,First_Name,Last_Name,SSN,Score_1,_merge
19,1027703.0,BRIAN,DASILVA,Y,BRIANDASILVA,NaN,NaN,NaN,NaN,left_only
55,1082647.0,DAVID,PIESCO-PUTNAM,Y,DAVIDPIESCO-PUTNAM,NaN,NaN,NaN,NaN,left_only
67,1067969.0,DOUGLAS,TRACEY,Y,DOUGLASTRACEY,NaN,NaN,NaN,NaN,left_only
68,NaN,NaN,NaN,NaN,DOUGTRACEY,DOUG,TRACEY,23667022.0,790.0,right_only
83,1033134.0,FREDERICK,REUTER,Y,FREDERICKREUTER,NaN,NaN,NaN,NaN,left_only
84,NaN,NaN,NaN,NaN,FREDREUTER,FRED,REUTER,143341499.0,801.0,right_only
112,NaN,NaN,NaN,NaN,JENESSAGERARD,JENESSA,GERARD,24667141.0,790.0,right_only
113,1075716.0,JENESSA,GERARD-PATEAKOS,Y,JENESSAGERARD-PATEAKOS,NaN,NaN,NaN,NaN,left_only
118,1035828.0,JOHN,O'NEILL,Y,JOHNO'NEILL,NaN,NaN,NaN,NaN,left_only
119,NaN,NaN,NaN,NaN,JOHNONEILL,JOHN,ONEILL,39468475.0,747.0,right_only
130,1112935.0,JOSH,WIETECHA,Y,JOSHWIETECHA,NaN,NaN,NaN,NaN,left_only
143,1028616.0,L KENNETH,ANDERSON,Y,L KENNETHANDERSON,NaN,NaN,NaN,NaN,left_only
152,NaN,NaN,NaN,NaN,LLOYDANDERSON,LLOYD,ANDERSON,11388127.0,776.0,right_only
185,1028057.0,MICHAEL,ST DON,Y,MICHAELST DON,NaN,NaN,NaN,NaN,left_only
186,NaN,NaN,NaN,NaN,MICHAELSTDON,MICHAEL,STDON,34580398.0,782.0,right_only
193,421.0,NANCY,DASILVA,Y,NANCYDASILVA,NaN,NaN,NaN,NaN,left_only
209,1031286.0,PAUL,ST PIERRE,Y,PAULST PIERRE,NaN,NaN,NaN,NaN,left_only
210,NaN,NaN,NaN,NaN,PAULSTPIERRE,PAUL,STPIERRE,13520372.0,798.0,right_only
217,NaN,NaN,NaN,NaN,PHYLLISNATHANSON,PHYLLIS,NATHANSON,36344512.0,733.0,right_only
218,1068497.0,PHYLLIS,VANORDEN NATHANSON,Y,PHYLLISVANORDEN NATHANSON,NaN,NaN,NaN,NaN,left_only
285,1029153.0,YVONNE,HINES-BRUCE,Y,YVONNEHINES-BRUCE,NaN,NaN,NaN,NaN,left_only
286,NaN,NaN,NaN,NaN,YVONNEHINESBRUCE,YVONNE,HINESBRUCE,91402138.0,788.0,right_only